.wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 1.5vh;
  max-width: 50%;
  margin: 0 auto;
  @media (max-width: 1200px) {
    max-width: 60%;
  };
  @media (max-width: 1000px) {
    max-width: 70%;
  }
}