body {
    background-color: white;
    font-family: "Amiri", sans-serif;
    p {
        line-height: 1.7em;
    }
}

a {
    text-decoration: none;
    color: black;
    &:hover {
        color: rgba(233, 64, 2, 0.836);
    }
}
