.cards {
    display: flex;
    flex-direction: column;
}


.cardItem {
    border-bottom: 1px solid #dadada;
    padding: 2vw;
    display: flex;
    overflow: hidden;
    &:nth-child(odd) {
        .picture {
            padding-right: 3vw;
            @media (max-width: 1200px) {
                padding-right: 3.5vw;
            }
            @media (max-width: 1000px) {
                padding-right: 0;
            }
        }
        @media (max-width: 1000px) {
            flex-direction: column;
        }
    }
    &:nth-child(even) {
        flex-direction: row-reverse;
        .picture {
            padding-left: 3vw;
            @media (max-width: 1200px) {
                padding-left: 3.5vw;
            }
            @media (max-width: 1000px) {
                padding-left: 0;
            }
        }
        @media (max-width: 1000px) {
            flex-direction: column;
        }
    }
    .text {
        flex: 1;
    }
    .picture {
        flex: 1;
        border-radius: 1.5%;
        &:hover{
            opacity: 0.9;
        }
    }
    .actual-picture {
        height: 100%;
        width: auto;
    }
}