.cards {
    display: flex;
    flex-direction: column;
}

.picture {
    width: 50%;
    overflow: hidden;

}

.cardItem {
    clear: both;
    border-bottom: 1px solid #dadada;;
    padding: 1.5vw;
    display: flex;
    justify-content: space-between;
    height: 200px;
}
.cardItem:nth-child(odd) {
    flex-direction: row;
    .text {
        padding-left: 3vw;
    }
}
.cardItem:nth-child(even) {
    flex-direction: row-reverse;
    .text {
        padding-right: 3vw;
    }
}

.text {
    width: 50%;
    p {
        margin-top: 0;
    }
}