.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 15vw;
    height: 100vh;
    overflow: scroll;
    transform: translateX(-100%);
    transition: all 0.5s ease;
    padding: 2vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: papayawhip;
    @media (max-width: 1000px) {
        width: 30vw;
    }
    @media (max-width: 800px) {
        width: 100vw;
    }
}

.activeMenu {
    transform: translateX(0%);
    box-shadow: 2px 2px 20px gray;
}

.button {
    background: transparent;
    border: none;
    margin-top: auto;
    padding-bottom: 3rem;
    cursor: pointer;
}