.navstyle {
    display: flex;
    direction: rtl;
    align-items: center;
    justify-content: space-between;
    border-bottom: 3px solid #dadada;
}

.activeBurger {
    transition: all 0.5s ease;
    opacity: 0;
}

.button {
    background: transparent;
    border: none;
}