.navstyle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 3px solid #6f7380;
    h1 {
        font-size: 2.3em;
    }
}

.activeBurger {
    transition: all 0.5s ease;
}

.button {
    background: transparent;
    border: none;
}